<div>
    <vue-modaltor :visible="show" :show-close-button="false" :animation-panel="animationType"
        :default-width="width" :bgOverlay="bgOverlay" :close-scroll="false" :bg-panel="'#fff'">
        <div class="dialogue-content">
            <div class="dialogue-header sticky-top">
                <div>
                    <!-- <h4 class="dialogue-title">{{title}}</h4> -->
                </div>
                <!-- <div>
                    <button v-if="component !='locationModal'" class="close modal-close-btn" type="button" @click="Close" title="Cancel" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>
                </div> -->
            </div>
            <!-- Modal container -->
            <div class="dialogue-body" id="">
                <div class="modal-scroll" id="">
                    <AddUser v-if="show" v-on:closeModal="Close" @cancel="Close"></AddUser>
                </div>
            </div>
        </div>
    </vue-modaltor>
</div>